body {
    background-color: rgb(255, 156, 90);
}
h1, h2 {
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 30px;
    padding-bottom:0% ;
}

h3 {
    font-family:Arial;
    text-align:left;
    font-size: 20px;
    padding-bottom:0% ;
}
.fancy-text {
    font-style:italic;
    text-decoration:underline;
}

p.fancy-text{
    color: rgb(255, 255, 255);
    background-color: blue;
}

#cpecific-paragraph {
    color: azure;
    background-color: rgb(233, 19, 55);
    font-style: oblique;
    font-size: x-large;
}