body {
    background-color: rgb(255, 199, 162);
}
h1, h2 {
    font-family: 'Trebuchet MS';
    text-align: left;
    font-size: 30px;
    padding-bottom:0% ;
}

h3 {
    font-family:Arial;
    text-align:left;
    font-size: 30px;
    font-style:italic;
    padding-bottom:0% ;
}
.fancy-text {
    font-style:italic;
    /* text-decoration:underline; */
}

p.fancy-text{
    color: rgb(255, 255, 255);
    background-color: rgb(168, 57, 107);
}

#cpecific-paragraph {
    color: rgb(24, 149, 252);
    background-color: rgb(255, 19, 58);
    font-style:italic;
    font-size: x-large;
}