

body {
    background-color: rgb(255, 199, 162);
    margin: 0;
    padding: 10%;
    display: flex;
    flex-direction:column;
    min-height: 100px;
}

.custom-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(168, 57, 107,0.8);
  color: #fdfbfb;
  padding: 20px;
  z-index: 1000; /* Определя подредбата на слоевете */
  text-align: center;
  border-bottom: 3px solid #f12222; /* Добавете разделителната линия */
}

/* Структура и стилове за контейнера със съдържанието
.content {
  width: 60%; /* Определена ширина на контейнера */
  /* margin: 0px auto; Отместване отгоре и отдолу, автоматично центриране по хоризонтала */
  /* padding: 10px; Вътрешни отстъпи */
  /* background-color: rgb(255, 199, 162); Фонов цвят */
/* } */

/* Стилове за текста в контейнера */
/* .content p { */
  /* margin: 0px; Нулиране на отстъпа на параграфа */
  /* font-size: 25px; Размер на шрифта */
  /* line-height: 1.5; Вертикално разстояние между редовете */
/* }  */

footer {
    margin-top: auto;
    background-color: #f0f060;
    padding: 20px;
  }

h1, h2 {
    font-family: 'Trebuchet MS';
    text-align:center;
    font-size: 30px;
    padding-bottom:0% ;
}

h3 {
    font-family:Arial;
    text-align:left;
    font-size: 30px;
    font-style:italic;
    padding-bottom:0% ;
}
.fancy-text {
    font-style:italic;
    /* text-decoration:underline; */
}

p.fancy-text{
    color: rgb(255, 255, 255);
    background-color: rgb(168, 57, 107);
}
/* 
#cpecific-paragraph {
    color: rgb(24, 149, 252);
    background-color: rgb(255, 19, 58);
    font-style:italic;
    font-size: x-large;
} */

a:link, :visited {
    background-color: #3f86f1;
    color: #fdf8fb;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover {
    background-color: #fc7474;
  }
  a:active {
    background-color: #6936f5;
  }

  footer {
    border-top: 5px solid #ec2727; /* Добавете разделителната линия */
    margin-top: auto;
    padding: 20px;
    background-color: #f0f000;
    height: 70px; /* Фиксирана височина */
  }
  .custom-footer-01 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 1000; /* Определя подредбата на слоевете */
    height: 70px; /* Фиксирана височина */
  }

  /* Стилове за съдържанието */
  .content {
    margin-top: 60px; /* Отместване отгоре, за да избегнем закриване от заглавната част */
    margin-bottom: 60px; /* Отместване отдолу, за да избегнем закриване от подвалната част */
    padding: 20px;
    background-color: rgb(0, 199, 162);
    line-height: 1.6;
    position: relative; /* Добавете relative positioning */
  }
  /* Стилове за снимката */
  /* .content img {
    max-width: 80%;
    height: auto;
    display: block;
  } */

 /* Стилове за горния раздел */
.top-section {
  display: flex;
  align-items: center;
}

.top-section img {
  width: 100%; /* Увеличете ширината на снимката до 100% */
  height: auto;
  max-width: none; /* Премахнете ограничението на максималната ширина */
}

.image-description {
  padding-left: 50px;
  max-height: 800px; /* Максимална височина на текстовия блок */
  overflow: hidden; /*Скриване на излишното съдържание, което надвишава височината*/
}

.image-description p {
  font-size: 30px; /* Увеличете размера на шрифта за по-голям текст */
  line-height: 2; /* Разстояние между редовете */
  margin: 0;
}